    <h1><a name='header-n0' class='md-header-anchor '></a>CtDNA QC Report</h1>
<p>[ TOC ]</p>
<h2><a name='header-n9' class='md-header-anchor '></a>General Stats</h2>
<h2><a name='header-n10' class='md-header-anchor '></a>Fastq Stats</h2>
{% for project in projects %}
    <h3>{{ project.name }}</h3>
        {% for fastqc_QC_subject,src in project.fastq_stats.items() %}
        <h4>{{ fastqc_QC_subject }}</h4>
        <table>
            <tr>
                <td><img id="{{ fastqc_QC_subject }} raw {{ project.name }}" src="{{ src.raw }}" border=0></td>
                <td><img id="{{ fastqc_QC_subject }} clean {{ project.name }}" src="{{ src.clean }}" border=0></td>
            </tr>
        </table>
        {% endfor %}
        {% for bam_QC_subject,src in project.bam_stats.items() %}
        <h4>{{ bam_QC_subject }}</h4>
        <img id="{{ bam_QC_subject }} {{ project.name }}" src="{{ src }}" border=0>
        {% endfor %}
{% endfor %}
