    <h1><a name='header-n0' class='md-header-anchor '></a>CtDNA QC Report</h1>
<p>[ TOC ]</p>
<h2><a name='header-n9' class='md-header-anchor '></a>General Stats</h2>
<h2><a name='header-n10' class='md-header-anchor '></a>Fastq Stats</h2>

    <h3>lane_1</h3>
        
        <h4>Sequence Duplication Levels</h4>
        <table>
            <tr>
                <td><img id="Sequence Duplication Levels raw lane_1" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Sequence Duplication Levels clean lane_1" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Mean Quality Scores</h4>
        <table>
            <tr>
                <td><img id="Mean Quality Scores raw lane_1" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Mean Quality Scores clean lane_1" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Per Sequence GC Content</h4>
        <table>
            <tr>
                <td><img id="Per Sequence GC Content raw lane_1" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Per Sequence GC Content clean lane_1" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Sequence Length Distribution</h4>
        <table>
            <tr>
                <td><img id="Sequence Length Distribution raw lane_1" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Sequence Length Distribution clean lane_1" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Overrepresented sequences</h4>
        <table>
            <tr>
                <td><img id="Overrepresented sequences raw lane_1" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Overrepresented sequences clean lane_1" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Per Base N Content</h4>
        <table>
            <tr>
                <td><img id="Per Base N Content raw lane_1" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Per Base N Content clean lane_1" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Per Sequence Quality Scores</h4>
        <table>
            <tr>
                <td><img id="Per Sequence Quality Scores raw lane_1" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Per Sequence Quality Scores clean lane_1" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        
        <h4>Genome fraction</h4>
        <img id="Genome fraction lane_1" src="C:/Users/x/Desktop/20180501155311.jpg" border=0>
        
        <h4>Insert size histogram</h4>
        <img id="Insert size histogram lane_1" src="C:/Users/x/Desktop/20180501155311.jpg" border=0>
        
        <h4>Coverage histogram</h4>
        <img id="Coverage histogram lane_1" src="C:/Users/x/Desktop/20180501155311.jpg" border=0>
        
        <h4>GC content</h4>
        <img id="GC content lane_1" src="C:/Users/x/Desktop/20180501155311.jpg" border=0>
        

    <h3>lane_2</h3>
        
        <h4>Sequence Duplication Levels</h4>
        <table>
            <tr>
                <td><img id="Sequence Duplication Levels raw lane_2" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Sequence Duplication Levels clean lane_2" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Mean Quality Scores</h4>
        <table>
            <tr>
                <td><img id="Mean Quality Scores raw lane_2" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Mean Quality Scores clean lane_2" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Per Sequence GC Content</h4>
        <table>
            <tr>
                <td><img id="Per Sequence GC Content raw lane_2" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Per Sequence GC Content clean lane_2" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Sequence Length Distribution</h4>
        <table>
            <tr>
                <td><img id="Sequence Length Distribution raw lane_2" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Sequence Length Distribution clean lane_2" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Overrepresented sequences</h4>
        <table>
            <tr>
                <td><img id="Overrepresented sequences raw lane_2" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Overrepresented sequences clean lane_2" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Per Base N Content</h4>
        <table>
            <tr>
                <td><img id="Per Base N Content raw lane_2" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Per Base N Content clean lane_2" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Per Sequence Quality Scores</h4>
        <table>
            <tr>
                <td><img id="Per Sequence Quality Scores raw lane_2" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Per Sequence Quality Scores clean lane_2" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        
        <h4>Genome fraction</h4>
        <img id="Genome fraction lane_2" src="C:/Users/x/Desktop/20180501155311.jpg" border=0>
        
        <h4>Insert size histogram</h4>
        <img id="Insert size histogram lane_2" src="C:/Users/x/Desktop/20180501155311.jpg" border=0>
        
        <h4>Coverage histogram</h4>
        <img id="Coverage histogram lane_2" src="C:/Users/x/Desktop/20180501155311.jpg" border=0>
        
        <h4>GC content</h4>
        <img id="GC content lane_2" src="C:/Users/x/Desktop/20180501155311.jpg" border=0>
        

    <h3>lane_3</h3>
        
        <h4>Sequence Duplication Levels</h4>
        <table>
            <tr>
                <td><img id="Sequence Duplication Levels raw lane_3" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Sequence Duplication Levels clean lane_3" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Mean Quality Scores</h4>
        <table>
            <tr>
                <td><img id="Mean Quality Scores raw lane_3" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Mean Quality Scores clean lane_3" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Per Sequence GC Content</h4>
        <table>
            <tr>
                <td><img id="Per Sequence GC Content raw lane_3" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Per Sequence GC Content clean lane_3" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Sequence Length Distribution</h4>
        <table>
            <tr>
                <td><img id="Sequence Length Distribution raw lane_3" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Sequence Length Distribution clean lane_3" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Overrepresented sequences</h4>
        <table>
            <tr>
                <td><img id="Overrepresented sequences raw lane_3" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Overrepresented sequences clean lane_3" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Per Base N Content</h4>
        <table>
            <tr>
                <td><img id="Per Base N Content raw lane_3" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Per Base N Content clean lane_3" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Per Sequence Quality Scores</h4>
        <table>
            <tr>
                <td><img id="Per Sequence Quality Scores raw lane_3" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Per Sequence Quality Scores clean lane_3" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        
        <h4>Genome fraction</h4>
        <img id="Genome fraction lane_3" src="C:/Users/x/Desktop/20180501155311.jpg" border=0>
        
        <h4>Insert size histogram</h4>
        <img id="Insert size histogram lane_3" src="C:/Users/x/Desktop/20180501155311.jpg" border=0>
        
        <h4>Coverage histogram</h4>
        <img id="Coverage histogram lane_3" src="C:/Users/x/Desktop/20180501155311.jpg" border=0>
        
        <h4>GC content</h4>
        <img id="GC content lane_3" src="C:/Users/x/Desktop/20180501155311.jpg" border=0>
        

    <h3>lane_4</h3>
        
        <h4>Sequence Duplication Levels</h4>
        <table>
            <tr>
                <td><img id="Sequence Duplication Levels raw lane_4" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Sequence Duplication Levels clean lane_4" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Mean Quality Scores</h4>
        <table>
            <tr>
                <td><img id="Mean Quality Scores raw lane_4" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Mean Quality Scores clean lane_4" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Per Sequence GC Content</h4>
        <table>
            <tr>
                <td><img id="Per Sequence GC Content raw lane_4" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Per Sequence GC Content clean lane_4" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Sequence Length Distribution</h4>
        <table>
            <tr>
                <td><img id="Sequence Length Distribution raw lane_4" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Sequence Length Distribution clean lane_4" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Overrepresented sequences</h4>
        <table>
            <tr>
                <td><img id="Overrepresented sequences raw lane_4" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Overrepresented sequences clean lane_4" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Per Base N Content</h4>
        <table>
            <tr>
                <td><img id="Per Base N Content raw lane_4" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Per Base N Content clean lane_4" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Per Sequence Quality Scores</h4>
        <table>
            <tr>
                <td><img id="Per Sequence Quality Scores raw lane_4" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Per Sequence Quality Scores clean lane_4" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        
        <h4>Genome fraction</h4>
        <img id="Genome fraction lane_4" src="C:/Users/x/Desktop/20180501155311.jpg" border=0>
        
        <h4>Insert size histogram</h4>
        <img id="Insert size histogram lane_4" src="C:/Users/x/Desktop/20180501155311.jpg" border=0>
        
        <h4>Coverage histogram</h4>
        <img id="Coverage histogram lane_4" src="C:/Users/x/Desktop/20180501155311.jpg" border=0>
        
        <h4>GC content</h4>
        <img id="GC content lane_4" src="C:/Users/x/Desktop/20180501155311.jpg" border=0>
        

    <h3>lane_5</h3>
        
        <h4>Sequence Duplication Levels</h4>
        <table>
            <tr>
                <td><img id="Sequence Duplication Levels raw lane_5" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Sequence Duplication Levels clean lane_5" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Mean Quality Scores</h4>
        <table>
            <tr>
                <td><img id="Mean Quality Scores raw lane_5" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Mean Quality Scores clean lane_5" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Per Sequence GC Content</h4>
        <table>
            <tr>
                <td><img id="Per Sequence GC Content raw lane_5" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Per Sequence GC Content clean lane_5" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Sequence Length Distribution</h4>
        <table>
            <tr>
                <td><img id="Sequence Length Distribution raw lane_5" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Sequence Length Distribution clean lane_5" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Overrepresented sequences</h4>
        <table>
            <tr>
                <td><img id="Overrepresented sequences raw lane_5" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Overrepresented sequences clean lane_5" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Per Base N Content</h4>
        <table>
            <tr>
                <td><img id="Per Base N Content raw lane_5" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Per Base N Content clean lane_5" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        <h4>Per Sequence Quality Scores</h4>
        <table>
            <tr>
                <td><img id="Per Sequence Quality Scores raw lane_5" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
                <td><img id="Per Sequence Quality Scores clean lane_5" src="C:/Users/x/Desktop/20180501155311.jpg" border=0></td>
            </tr>
        </table>
        
        
        <h4>Genome fraction</h4>
        <img id="Genome fraction lane_5" src="C:/Users/x/Desktop/20180501155311.jpg" border=0>
        
        <h4>Insert size histogram</h4>
        <img id="Insert size histogram lane_5" src="C:/Users/x/Desktop/20180501155311.jpg" border=0>
        
        <h4>Coverage histogram</h4>
        <img id="Coverage histogram lane_5" src="C:/Users/x/Desktop/20180501155311.jpg" border=0>
        
        <h4>GC content</h4>
        <img id="GC content lane_5" src="C:/Users/x/Desktop/20180501155311.jpg" border=0>
        
