<!doctype html>
<head>
</head>
<body>
<title>CtDNA QC Report</title>
{% if project_name %}
<p>{{ project_name }}</p>
{% for sample in samples %}
<p>{{sample.id}}</p>
{% endfor %}
{% endif %}

</body>
